

<div>
    <div class="flex">
        <div><a href='register'><app-button text="Sign Up" color="dark blue"></app-button></a></div>
        <div><app-button text="Share" color="dark blue" [cdkCopyToClipboard]="link" (cdkCopyToClipboardCopied)="_copied($event)" ></app-button></div>
    
  </div>
  <div class="flex" *ngIf="copyMessageDisplay">
    {{copyMessage}}
  </div>
    
    <div *ngIf="!noReports">
        <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="true"
              [fit-to-page]="true"
  ></pdf-viewer></div>
  <div class="flex" *ngIf="noReports">No medical reports found</div>
</div>