<header>
    <div class="mobileOff">
    <app-header-item text="ONITO" route="/"></app-header-item>
    <app-header-item *ngIf="this.isLoggedIn" text="reports" route="reports"></app-header-item>
    <app-header-item *ngIf="this.isLoggedIn" text="profile" route="home"></app-header-item>
    <!--<app-header-item class="selected" text="predict" route="predict"></app-header-item>-->
    <app-header-item text="tools" route="models"></app-header-item>
    </div>
    
    <div class="mobileOn">
        <div class="justify-start">
            <app-header-item text="ONITO" route="/"></app-header-item>
            <app-header-item *ngIf="this.isLoggedIn"  text="profile" route="home"></app-header-item>
        </div>
        <div class="justify-end">
            <app-header-item *ngIf="this.isLoggedIn" text="reports" route="reports"></app-header-item>
        <app-header-item text="tools" route="models"></app-header-item>
        </div>
        
    </div>
</header>
