header {
    align-items: center;
    margin: 20px 20px 20px 40px;
    justify-content: space-around;
}

.selected {
    font-weight: bold;
    color: #7ED958;
}
.mobileOn {
    display: none
    
 }
 .mobileOff {
    display: flex;
    justify-content: space-around; 
 }
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}



@media screen and (max-width: 768px) {

 .mobileOn {
    display:flex;
    
    justify-content: space-around;
    
 }
 .mobileOff {
    display: none;
 }
 header {
    margin: 20px 20px 20px 20px;
    
}
.justify-start {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.justify-end {
    display: flex;
    flex-direction: column;
    align-items:end;
}
}