.dropdown-wrapper {
    position: relative;
    display: inline-flex;
  }
  
  .add-btn {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    padding: 11px 11px;
    background-color: var(--primary-color);
    color: #fff;
    
    cursor: pointer;
    transition: background 0.15s;
    white-space: nowrap;
    border: 5px solid var(--primary-color);
    border-radius: 111px;
    font-size: 1.2rem;
  }
  
  .add-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 5px solid var(--primary-color);
  }
  
  .add-btn .chev {
    transition: transform 0.18s ease;
  }
  
  .add-btn.open .chev {
    transform: rotate(180deg);
  }
  .ibox {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 9px;
  }
  
  .ibox svg {
    width: 25px;
    height: 25px;
  }
  
  .ttl {
    font-size: 1.1rem;
    
    color: #333;
    line-height: 1.3;
  }
  @media (max-width: 550px) {
    .add-btn {
      display: inline-flex;
      align-items: center;
      gap: 7px;
      padding: 9px 9px;
      font-size: 1.2rem; 
    }

    
  }

