div {
    margin: 0px 80px;
}

h1 {
    margin: 30px 0 10px 0;
    color: var(--primary-color);
    font-weight: 500;
}
p {
    font-size: 1.1rem;
}
@media screen and (max-width: 1150px) {
    div {
        margin: 0px 40px;
    }
}

@media screen and (max-width: 768px) {
    
    h1 {
        margin: 20px 0;
        
    }
    div {
        margin: 0px 10px;
    }
}
@media screen and (max-width: 450px) {
    div {
        margin: 0px 0px;
    }
}