<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<h1 class="title">What is ONITO ?</h1>

    <div class="model">
        <h2 class="model-title">
            MEDICAL DATA STORAGE
        </h2>
        <p class="model-info">
            ONITO stores all medical data for patients, including test reports, scans, prescriptions, and bedside monitor data points. The application stores medical data in an accessible format easily shared with doctors and medical staff.
        </p>
    </div>

    <div class="model">
        <h2 class="model-title">
            HEALTHCARE DATA INFRASTRUCTURE
        </h2>
        <p class="model-info">
            ONITO can be embedded in hospitals and doctor offices. ONITO replaces traditional data infrastructure for medical data storage by installing a physical ONITO system. The advantages of ONITO healthcare data infrastructure are interoperability and global access to complete patient records. Any doctor or hospital staff across the world can access any patient record in real-time on ONITO with an Internet connection and permission.
        </p>
    </div>

    <div class="model">
        <h2 class="model-title">
            PRIVACY FOCUS
        </h2>
        <p class="model-info">
            ONITO respects privacy of its users. Patient data are accessed only with permission from the patient. This feature is inbuilt into data sharing. Any data used by ONITO for doctor training is used after patient consent and anonymization. A patient record cannot be traced back to the patient after anonymization.
        </p>
    </div>
    <div class="model">
        <h2 class="model-title">
            DOCTOR AID
        </h2>
        <p class="model-info">
            Anonymization is the process of scrubbing a patient record of Personally Identifiable Information including name, date of birth, address, phone number, email, genetic sequence, and insurance information. Many anonymized patient records can train doctors to provide better care.
        </p>
    </div>
    <div class="model">
        <h2 class="model-title">
            COMPANY
        </h2>
        <p class="model-info">
            ONITO was founded in Delhi, India by <a href='https://www.linkedin.com/in/noorulali'>Noorul Ali</a> and <a href='https://www.linkedin.com/in/ahmedhasanali'>Ahmed Hasan Ali</a> in 2021. Currently, Noorul Ali serves as CEO and CTO of ONITO.
            
        </p>
        
    </div>
    <div class="model">
        <p class="model-info flex" style="justify-content: space-evenly;">
            <a href='https://github.com/orgs/onitomed/repositories' class="fa fa-github"></a>
            <a href='https://www.linkedin.com/company/onitomed' class="fa fa-linkedin"></a>
            <a href='https://www.instagram.com/onitomed' class="fa fa-instagram"></a>
            <a href='mailto:onitomed@gmail.com' class="fa fa-envelope"></a>
        </p>
        
    </div>

</div>