<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<h1 class="title">Tools on ONITO</h1>
    <div class="model"><div class="mtitle">
        <h2 class="model-title">
            AUTOIMMUNE DISEASE TREATMENT PLANNER
        </h2>
        <a routerLink='/aitp'><app-button text="Open Tool" color="dark blue"></app-button></a></div>
        <p class="model-info">
            Rheumatoid arthritis (RA), an autoimmune disease, is a heterogenous disease. RA patients have different types of dysregulated immune cells. Medicines are prescribed to target specific causes of inflammation (Tumor Necrosis Factor-alpha or Interleukin 6) caused by specific dysregulated immune cells. Dysregulated immune cell type is not easily determined from traditional diagnosis, but synovium biopsy data highlight immune cell dysregulation. Autoimmune disease treatment planner is a tool using data from synovium biopsy to recommend effective medicines for RA treatment. Coming soon.<br><br>Based on research by <a href='https://www.broadinstitute.org/bios/soumya-raychaudhuri'>Dr. Soumya Raychaudhuri</a>, Broad Institute of MIT and Harvard, Boston, United States. 
        </p>
    </div>
    <div class="model">
        <h2 class="model-title">
            HUMANGEO
        </h2>
        <p class="model-info">
            Humangeo is a metabolism digital twin to assess patient's metabolic health. Humangeo diagnoses metabolic diseases like nonalcoholic fatty liver and type 2 diabetes with unparalleled precision by pinpointing exact dysregulated pathways in patient metabolism. Patient data from medical reports like kidney function test, liver function test, complete blood count and urine routine are used by Humangeo to model patient metabolism in real-time. Systemic and organ-specific metabolic reactions with degree of dysregulation are highlighted. Coming soon. <br><br>Based on research by ONITO's founder <a href='https://www.linkedin.com/in/noorulali'>Noorul Ali</a>, at Tufts University, Boston, United States.
        </p>
    </div>
    <div class="model">
        <h2 class="model-title">
            PPBAG
        </h2>
        <p class="model-info">
            PPBag is a smart urine bag to automatically determine daily urine volume of patients using urinary catheter. PPBag also conducts urine routine and culture tests on the bag itself. Urinalysis data collected on PPBag are communicated directly in real-time to the patient's ONITO profile using Wi-Fi. Currently in development (see <a href='https://www.instagram.com/reel/DK--rN6onX-/?utm_source=ig_web_copy_link'>prototype</a>).
        </p>
    </div>
    <div class="model">
        <h2 class="model-title">
            PATIENT SIMILARITY SEARCH
        </h2>
        <p class="model-info">
            Patient Similarity Search is an algorithm to increase medical experience of doctors by tapping into the vast repository of longitudinal patient records on ONITO. This algorithm finds similar patients based on disease, age, sex and other biologically relevant traits. Treatments and treatment outcomes of these patients are ranked by this algorithm to recommend effective treatment for new patients. This tool is useful for complex medical cases for whom doctors lack medical experience. Coming soon.
        </p>
    </div>
    <!-- <div class="model">
        <h2 class="model-title">
            HOMEPAGE
        </h2>
        <p class="model-info">
            ONITO was founded in Delhi, India by <a href='https://www.linkedin.com/in/noorulali'>Noorul Ali</a> and <a href='https://www.linkedin.com/in/ahmedhasanali'>Ahmed Hasan Ali</a> in 2021. Currently, Noorul Ali serves as CEO and CTO of ONITO.
            
        </p>
        
    </div> -->
    

</div>