.title {
    color: var(--secondary-color);
    margin: 30px 0;
}

.model-title {
    color: var(--primary-color);
    margin: 10px 0;
}
a {
    color: var(--primary-color);
    text-decoration: underline;
    
}
.model-info {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 30px;
}