<h1>
    User Profile
</h1>

<div class='flex'><app-selectpatient></app-selectpatient>
<!-- <app-button text="Add Patient to Profile" color="dark blue" (btnClick)="addPatientMenu()"></app-button> -->

</div>
<!-- <div *ngIf="showAddPatientMenu">
    <input>
</div> -->



<h3 class="field">User ID: <div class="value">{{ user._id }}</div></h3>
<h3 class="field">User Name: <div class="value">{{ user.name }}</div></h3>
<h3 class="field">User Role: <div class="value">{{ user.roles[user.roles.length-1] | titlecase }}</div></h3>
<h3 class="field">User Email: <div class="value">{{ user.email }}</div></h3>
