* {
    margin: 5px;
    padding: 10px;
}
div {
    display: inline;
    padding: 0;
}
h1 {
    color: var(--primary-color);
}

.field {
    color: var(--secondary-color);
}

.value {
    color: var(--primary-color);
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
@media screen and (max-width: 768px) {
    .flex {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
         
  
}