* {
    padding: 10px;
}

h2 {
    margin: 0 30px;
}

.btn {
    padding: 5px 10px;
    margin-left: 15px;
    
}

@media screen and (max-width: 768px) {
    .col-md-12 {
       margin-top: 90px;
    }  
    
}
