.btn {
    padding: 9px 12px 9px 12px;
    display: flex;
    align-items: row;
    justify-content: center;
    gap: 5px;
}
svg {
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 768px) {
    .btn {
        padding: 7px 10px;
        
        
    }
}