.btn {
    padding: 9px 12px 9px 12px;
    display: flex;
    align-items: row;
    justify-content: center;
}

svg {
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 0px;
}
@media screen and (max-width: 768px) {
    .btn {
        padding: 7px 10px;
        
        
    }
}