* {
    padding: 10px;
}

h2 {
    margin: 0 30px;
}

.btn {
    padding: 5px 10px;
    margin-left: 15px;

}

.alert-success {
    font-size: 1.6rem;
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
     .col-md-12 {
        margin-top: 160px;
     }  
     
}